<html>
    <head>
        {% include 'head.html' %}
        <title>Let's go!</title>
        <script>
            function revealCreation() {
                document.getElementById('creation').setAttribute("class", "fadein");
            }
            function hideRevealButton() {
                document.getElementById('reveal-button').setAttribute("class", "hidden");
            }
            function revealNextButton() {
                document.getElementById('next-button').setAttribute("class", "animated zoomIn delay-4s");
            }
        </script>
    </head>
    <body>
        <br />
        <div class="hat">
            <p class="animated name flipInY delay-1s slower">{{ name }}</p>
            will be drawing
            <p id="creation" class="hidden">{{ assignment }}.</p>
        </div>
        <button id="reveal-button" class="animated name flipInX delay-3s slower" onclick="revealCreation(), hideRevealButton(), revealNextButton()">Drumroll please...</button>
        <form action="/hat" method="POST">
            <input id="next-button" class="hidden" type="submit" value="{{ 'Who\'s next?' if remaining_assignments != 0 else 'That\'s everyone!' }}">
        </form>

        <p>
            {% for assignment in matches %}
                <span class=star>* </span><b>{{ matches[assignment] }}</b> will be drawing <b>{{ assignment }}</b>
                <br />
            {% endfor %}
            </br>
        </p>
        Remaining assignments: {{ remaining_assignments }}
    </body>
    {% include 'foot.html' %}
</html>
