<html>
    <head>
        {% include 'head.html' %}
        {{ toastr.include_jquery() }}
        {{ toastr.include_toastr_css() }}
        <script type=text/javascript>
            function validateAssignments() {
                var input_assignments_str = $('textarea#assignments').val();
                var unfiltered_input_assignments = input_assignments_str.split("\n")
                var input_assignments = unfiltered_input_assignments.filter(Boolean)
                if (new Set(input_assignments).size !== input_assignments.length) {
                    toastr.error(`You have one or more duplicate assignments`);
                    event.preventDefault();
                }
                else {
                    return true
                }
            };
        </script>
        <title>Start - enter assignments</title>
    </head>
    <body>
        {{ toastr.include_toastr_js() }}
        <h1>What are today's assignments?</h1>
        <form action="/who" method="POST" onsubmit="return validateAssignments()">
            <textarea id="assignments" class="text" cols="40" rows ="10" name="assignments" placeholder="One line per assignment" autofocus=true></textarea>
            <br/>
            <input type="submit" value="*">
        </form>

        <br/>
        <a href="https://gitlab.com/wengerd/from-a-hat" target="_blank">This is an open source project</a>
    </body>
</html>
