<html>
    <head>
        {% include 'head.html' %}
        <title>Let's go!</title>
    </head>
    <body>
        <h1>READY?</h1>
        <form action="/hat" method="POST">
            <input type="submit" value="* GO! *">
        </form>
    </body>
    {% include 'foot.html' %}
</html>
