<html>
    <head>
        {% include 'head.html' %}
        <title>Let's go!</title>
    </head>
    <body>
        <h1>FINALLY</h1>
        <div class="results">
            {% for assignment in matches %}
            <span class="star">* </span>{{ matches[assignment] }} will be drawing {{ assignment }}
            <br />
            {% endfor %}
        </div>
    </body>
    {% include 'foot.html' %}
</html>
