<html>
    <head>
        {% include 'head.html' %}
        {{ toastr.include_jquery() }}
        {{ toastr.include_toastr_css() }}
        <script type=text/javascript>
            function validateNumberOfNames() {
                var input_names_str = $('textarea#names').val();
                var unfiltered_input_names = input_names_str.split("\n")
                var input_names = unfiltered_input_names.filter(Boolean)
                var number_of_assignments = {{ number_of_assignments }};
                if (input_names.length != number_of_assignments){
                    toastr.error(`Number of names (${input_names.length}) does not equal number of assignments (${number_of_assignments})`);
                    event.preventDefault();
                }
                else {
                    return true
                }
            };
        </script>
        <title>Enter names</title>
    </head>
    <body>
        {{ toastr.include_toastr_js() }}
        <h1>What are your names?</h1>
        <form action="/ready" method="POST" onsubmit="return validateNumberOfNames()">
            <textarea id="names" class="text" cols="40" rows ="10" name="names" placeholder="One line per name&#10;Nice to meet you" autofocus=true></textarea>
            <br/>
            <input type="submit" value="*">
        </form>
    </body>
    {% include 'foot.html' %}
</html>
